.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* margin: 40px 0px; */
}

.signup-form-container {
  background-color: white;
  width: 400px;
  padding: 20px 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin: 40px 0px;
}

.signup-form-container > h3 {
  font-size: 25px;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: 5px;
}

.signup-input-container {
  margin-top: 12px;
  position: relative;
}

.signup-input-container > input {
  padding: 7px;
  width: 100%;
  border: 1px solid rgb(217 216 216);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  margin-top: 5px;
  /* padding-right: 40px; */
}

.confirm-password-icon {
  top: 35px;
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 17px;
}

.checkbox {
  outline: none;
  margin: 10px 0px;
  margin-right: 5px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #478ccd;
  color: white;
  font-size: 18px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.signup-form-container > h5 {
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    margin-top: -20px;
  }
}

@media only screen and (max-width: 470px) {
  .signup-form-container {
    width: 350px;
  }

  .signup-form-container > h3 {
    font-size: 20px;
  }

  .signup-form-container > h5 {
    font-size: 15px;
  }

  .signup-button {
    font-size: 15px;
  }
}

@media only screen and (max-width: 380px) {
  .signup-form-container {
    width: 310px;
    padding: 5px 15px;
  }
}

@media only screen and (max-width: 340px) {
  .signup-form-container {
    width: 300px;
  }
}

@media only screen and (max-width: 300px) {
  .signup-form-container {
    width: 250px;
  }

  .signup-terms-box {
    font-size: 13px;
  }
}
