.cart-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 2;
}

.cart-left-container {
  background-color: rgba(0, 0, 0, 0.5);
  flex: 1;
}

.cart-right-container {
  width: 400px;
  height: 100vh;
  background-color: var(--background-primary);
  position: fixed;
  top: 0%;
  right: 0%;
  padding: 40px;
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: 2;
}

[data-theme='dark'] .cart-right-container {
  box-shadow: var(--shadow-primary);
}

.show-cart {
  transform: translateX(0%);
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-primary);
  padding-bottom: 20px;
}

.cart-header > h2 {
  font-size: 1.563rem;
  font-weight: 400;
  color: var(--text-primary);
}

.cart-product-container {
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 0px;
  overflow-y: scroll;
}

.cart-product-container::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.cart-product-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.cart-product-container::-webkit-scrollbar-thumb {
  background: #888;
}
.cart-product-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cart-product-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0px;
}

.cart-product-left > img {
  width: 120px;
  object-fit: contain;
}

.cart-product-right {
  flex: 1;
  margin-left: 20px;
}

.cart-product-right > a {
  color: var(--text-primary);
}

.cart-product-right > a > h3 {
  font-size: 1.063rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: var(--text-primary);
}

.cart-product-size,
.cart-product-selling-price {
  margin-bottom: 10px;
}

.cart-product-size > span,
.cart-product-selling-price > span {
  font-size: 0.938rem;
  font-weight: 400;
  color: var(--text-primary);
}

.cart-icons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-primary);
}

.cart-icons > button {
  background-color: white;
  border: none;
  outline: none;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icons > span {
  font-size: 1rem;
  font-weight: 400;
  padding: 0px 15px;
  color: var(--text-primary);
}

.cart-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  border-top: 1px solid #e8e8e1;
}

.cart-price {
  display: flex;
  justify-content: space-between;
}

.cart-price > span {
  font-size: 1.063rem;
  font-weight: 400;
  color: var(--text-primary);
}

.cart-footer-container > p {
  font-size: 0.813rem;
  margin: 10px 0px;
  color: var(--text-primary);
}

.cart-product-checkout {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  background-color: var(--text-primary);
  color: var(--background-primary);
  cursor: default;
  /* font-weight: 600; */
}

.cart-product-checkout.active {
  cursor: pointer;
}

@media only screen and (max-width: 910px) {
  .cart-product-container::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .cart-right-container {
    width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .cart-right-container {
    padding: 20px;
  }

  .cart-product-container {
    height: 65%;
  }

  .cart-product-left > img {
    width: 105px;
  }

  .cart-product-right {
    margin-left: 10px;
  }

  .cart-product-right > a > h3 {
    font-size: 0.938rem;
  }
}
