.trackOrder_modal {
  width: 500px;
  min-height: 220px;
  background-color: var(--background-primary);
  border-radius: 12px;
  padding: 12px;
  position: relative;
}

[data-theme='dark'] .trackOrder_modal {
  box-shadow: var(--shadow-primary);
}

.close_modal {
  color: var(--text-primary);
}

.trackOrder_h1 {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--text-primary);
}

.trackOrder_Id {
  font-size: 1.063rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.trackOrder_stepper {
  padding: 5px 20px;
}

@media only screen and (max-width: 600px) {
  .trackOrder_modal {
    width: 95%;
  }
}
