.searchResult_ul_container {
  display: flex;
  flex-direction: column;
  background-color: #eaeaec;
  border-radius: 10px;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
}

.searchResult_li {
  font-size: 17px;
  padding: 10px;
  cursor: pointer;
}

.searchResult_li:hover {
  background-color: aliceblue;
}

/* media queries */
@media only screen and (max-width: 1400px) {
  .searchResult_li {
    font-size: 15px;
  }
}
