.review-main-box{
    padding: 0px 20px;
    width: 60%;
    margin: 40px 0px 10px 0px;
}

.review-box_1{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 40%;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.review-box_1 > h2{
    font-weight: 400;
}

.review-rating-star{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.review-text-area{
    resize: none;
    font-family: system-ui;
    font-size: 15px;
    padding: 3px 5px;
    outline: none;
}

.review-rating-submit-button{
    border: none;
    padding: 8px 0px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
    font-size: 18px;
}

.review-box_2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.review-box_2 > h2{
    font-weight: 400;
}

.review-box_2 > button{
    width: 150px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
}

.review-show-box{
    display: grid;
    grid-template-columns: 200px 2fr;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.review-user-name{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-user-name > h5{
    font-weight: 400;
    margin-top: 5px;
}

.review-user-name > h4, .review-star > span{
    color: rgb(15, 3, 3);
    font-weight: 500;
}

.review-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-message > h4{
    margin-top: 5px;
    font-weight: 400;
}

.review-star{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width : 910px){
    .review-main-box{
        width: 80%;
    }

    .review-box_1{
        width: 50%;
    }
}


@media only screen and (max-width: 769px) {
    .review-main-box{
        width: 100%;
    }

    .review-box_1{
        width: 60%;
    }

    .review-show-box{
        grid-template-columns: 150px 2fr;
    }
}


@media only screen and (max-width: 500px) {
    .review-main-box{
        padding: 0px 20px;
    }
    
    .review-box_1{
        width: 90%;
    }

    .review-box_2 > h2{
        font-size: 18px;
    }

    .review-box_2 > button{
        width: 120px;
        padding: 5px 0px;
    }

    .review-show-box{
        display: flex;
        flex-direction: column;
    }

    .review-user-name{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 0px;
    }
}


@media only screen and (max-width: 310px) {
    .review-box_2 > h2{
        font-size: 17px;
    }

    .review-box_2 > button{
        width: 100px;
        padding: 5px 0px;
    }
}