.address-form-main-box{
    /* border: 1px solid black; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 44px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
}

.address-form{
    background-color: white;
    padding: 20px;
    width: 430px;
}

.address-form-delivery-tag{
    margin-bottom: 10px;
}

.address-form-delivery-tag > h2{
   font-weight: 400;
}

.address-form-box-part-II{
    /* display: flex; */
}

.address-form-input-filed-box{
    display: flex;
}

.address-form-input-field-name{
    font-size: 17px;
    font-weight: 400;
    margin: 8px 0px 5px 0px
}

.address-form-input{
    outline: none;
    width: 100%;
    height: 30px;
    font-size: 15px;
    padding-left:5px;
    padding-right: 22px;
    border: 1px solid #d4d4d9;
}

.address-form-show-locality-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #d4d4d9;
    padding: 10px;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.address-form-show-locality-box::-webkit-scrollbar{
    width: 10px;
}

.address-form-show-locality-box::-webkit-scrollbar-thumb {
    background: #c1c1c1;
  }

.address-form-show-locality-box::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

.address-form-show-locality{
    margin: 2px 0px;
    cursor: pointer;
}

.address-form-buttons{
    display: flex;
}

.address-form-buttton{
    width: 150px;
    height: 30px;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 10px;
    border:none;
    background-color: tomato;
    color: white;
    cursor: pointer;
}

#disable-add-address-button{
    color: #c1c1c1;
}


@media only screen and (max-width:500px) {
    .address-form-main-box{
        display: block;
        padding: 0px 0px;
        overflow-y: scroll;
    }

    .address-form{
        background-color: white;
        padding: 20px;
        width: 100%;
    }
}

@media only screen and (max-width:360px) {
    .address-form {
        padding: 15px;
    }
    
    .address-form-delivery-tag > h2 {
        font-size: 22px;
    }

    .address-form-input-field-name {
        font-size: 16px;
        margin: 10px 0px 5px 0px;
    }
    
    .address-form-input-filed-box{
        flex-direction: column;
    }
}