.homepage-product-box{
    /* border: 1px solid black; */
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.homepage-product-box-heading{
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 15px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.homepage-products{
    /* border: 1px solid green; */
    display: flex;
    align-items: flex-end;
    overflow-x: scroll;
    padding: 0px 5px;
}

.homepage-products::-webkit-scrollbar{
   height: 10px;
}

.homepage-products::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
    cursor: pointer;
}

.homepage-product-detail{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    margin-bottom: 15px;
}

.homepage-product-img{
    width: 350px;
    height: 100%;
    object-fit: contain;
}

.homepage-product-content{
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 5px 0px 5px;
}

.homepage-product-price-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.homepage-preview-button-box{
    display: flex;
    justify-content: center;
}

.homepage-preview-button{
    width: 180px;
    background-color: #E4E4E4;
    border: none;
    outline: none;
    padding: 6px;
    cursor: pointer;
}


@media only screen and (max-width:768px){
    .homepage-product-img{
        width: 300px;
    }

    .homepage-product-content{
        width: 300px;
    }
}

@media only screen and (max-width:500px){
    .homepage-product-img{
        width: 250px;
    }

    .homepage-product-content{
        width: 250px;
    }

    .homepage-product-box-heading{
        font-size: 20px;
    }

    .homepage-product-name{
        font-size: 15px;
    }

    .homepage-product-price-rating{
        font-size: 15px;
    }
}

@media only screen and (max-width: 350px){
    .homepage-product-box-heading{
        font-size: 17px;
    }

    .homepage-product-name{
        font-size: 14px;
    }
    .homepage-product-price-rating{
        font-size: 14px;
    }
}