/* close icon disabled in desktop navbar */
.close-icon{
    display: none;
}

.navbar{
    position: sticky;
    top: 0px;
    z-index: 2;
}

.navbar-desktop-main-box{
    width: 100%;
    background: #fff;
    box-shadow: 0 0 16px rgb(0 0 0 / 15%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 100px;
}

.Navbar-website-name-box{
    flex: 1;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: 'Spectral SC', serif;
    margin-left: 40px;
}

.navbar-desktop-category-box{
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.navbar-link{
    margin: 0px 15px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-link > a{
    text-decoration: none;
    color: #1e1e27;
}

.navbar-link > a:hover{
    color: orangered;
}

.nav-link-class{
    border-bottom: 1px solid orangered;
}

.navar-search-avatar-box{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

.navbar-avatar-box{
    display: flex;
    align-items: center;
}

.navbar-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    cursor: pointer;
}

.navbar-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    background: #ECEFF6;
    width: 40px;
    height: 40px;
    margin: 0px 18px
}

.navbar-cart > span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

.navbar-menu{
    display: none;
    margin-left: 20px;
}

.icon{
    transform: scale(0.9);
}

.menu-icon{
    transform: scale(1.3);
}

.navbar-search-bar-box-two{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
    padding:  28px 10px;
    box-sizing: border-box;
    background-color:#fff;
}

.navbar-search-bar-box-two > input{
    width: 100%;
    border: none;
    background-color:#fff;
    padding: 10px;
    font-size: 15px;
    outline: none;
}

/* media queries */

@media only screen and (max-width: 1190px) {
    .navbar-desktop-main-box{
        padding: 25px 60px;
    }
}


@media only screen and (max-width: 1120px) {
    .navbar-desktop-main-box{
        padding: 25px 40px;
    }
}


@media only screen and (max-width: 1050px) {
    .navbar-desktop-main-box{
        padding: 25px 30px;
    }

    .Navbar-website-name-box{
        margin-left: 20px;
    }

    .navbar-desktop-category-box{
        margin-right: 20px;
    }

    .navbar-cart{
        margin: 0px 15px
    }
}


/* media query for mobile */
@media only screen and (max-width: 950px) {
    .navbar-desktop-main-box{
        padding: 25px 10px;
    }

    .Navbar-website-name-box{
        margin-left: 10px;
    }

    .navbar-desktop-category-box{
        background-color: #fff;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: all 0.5s;
    }

    .show-navbar{
        transform: translateX(0%);
    }

    .navbar-link{
        width: 100%;
        border-bottom: 1px solid #e4e4e4;
        font-size: 25px;
        font-weight: 400;
        margin: 0px;
        padding: 15px 0px;
        padding-left: 20px;
        text-transform: capitalize;
        color: #1e1e27;
    }

    .nav-link-class{
        border-bottom: none;
    }

    .close-icon{
        display: block;
        margin: 20px;
    }

    .navbar-person-icon{
        margin: 0px 15px
    }

    .navbar-menu{
        display: block;
    }

}


@media only screen and (max-width: 500px) {
    .navbar-person-icon{
        margin: 0px 10px
    }
}


@media only screen and (max-width: 355px) {
    .Navbar-website-name-box{
        font-size: 20px;
        margin-left: 0px;
    }

    .navbar-cart{
        width: 35px;
        height: 35px;
        margin: 0px 6px;
    }
    
    .navbar-cart > span{
        width: 20px;
        height: 20px;
        font-size: 10px;
        top: -7px;
        left: 20px;
    }

    .navbar-person-icon{
        margin: 0px 7px
    }

    .icon{
        transform: scale(0.8);
    }

    .navbar-menu{
        margin-left: 10px;
    }

    .menu-icon{
        transform: scale(1.0);
    }
}