.login-div{
    height: 100%;
    width: 100%;
    /* background-color: #478ccd; */
}

/* .login-div > a > h3{
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Spectral SC', serif;
} */

.login-form{
    width: 350px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
    /* margin-top: 30px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form > h3{
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    margin-top: 15px;
}

.login-form > form{
    display: flex;
    flex-direction: column;
    margin: 5px 0px 20px 0px;
    box-sizing: border-box;
}

.login-form > form > h4{
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 12px;
}

.login-form > form > input{
    padding: 7px;
    width: 100%;
    border: 1px solid rgb(217 216 216);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
}

.login-form > form > button{
    padding: 10px;
    width: 100%;
    font-size: 18px;
    background-color: #478ccd;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form > h5{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
}

.login-form > span{
    text-align: center;
}

/* .login-div > a > img{
    width: 100px;
    object-fit: contain;
    margin-top: 10px;
} */

@media screen and (max-width:500px) {
    .login-form{
        width: 95%;
    }
}

@media only screen and (max-width:400px){
    .login-form > h3{
        font-size: 20px;
    }

    .login-form > form > button{
        font-size: 15px;
    }

    .login-form > h5{
        font-size: 15px;
    }
}


@media only screen and (max-width:340px){
    .login-form{
        padding: 5px 15px;
    }

    .login-form > h3{
        font-size: 18px;
    }

    .login-form > h5{
        font-size: 15px;
    }
}