.profile-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.profile-avatar-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-avatar-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: var(--primary-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}
