/* loader */
.men-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.product-card-container {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow-primary);
  background-color: var(--background-primary);
  transition: all ease-in 0.2s;
}

.product-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-card-details {
  padding: 10px 10px 20px 10px;
  height: 100%;
}

.product-card-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary);
}

.product-selling-price {
  font-size: 0.938rem;
  font-weight: 600;
  color: var(--text-primary);
}

.product-actual-price {
  font-size: 0.875rem;
  margin: 0px 8px;
  color: var(--text-secondary);
}
