.orderDone_container {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 15px -8px rgba(0, 0, 0, 0.1);
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  margin-top: 80px;
  border-radius: 20px;
  border: 1px solid #e8e8e1;
  padding: 20px;
}

.orderDone_msg {
  text-align: center;
}

.orderDone_btn {
  background-color: #449ef2;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 17px;
  margin-top: 12px;
  cursor: pointer;
}
