.address-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-not-available-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.address-icon {
  font-size: 2.5rem;
  color: var(--text-primary);
}

.address-not-available-content {
  text-align: center;
  margin-top: 10px;
}

.address-not-available-h3 {
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--text-primary);
}

.address-not-available-btn {
  width: 160px;
  font-size: 1rem;
  margin: 10px 0px;
  background-color: var(--secondary-color);
}

.address-not-available-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.address-available-container {
  padding: 20px;
}

.address-add-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.address-add-h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--text-primary);
}

.address-add-button {
  width: 160px;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--secondary-color);
}

.address-add-button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.address-details-container {
  display: grid;
  grid-template-columns: 600px 600px;
  gap: 12px;
}

.address-details {
  border: 1px solid var(--border-primary);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

/* [data-theme='dark'] .address-details {
  border: none;
  box-shadow: var(--shadow-primary);
} */

.address-user-name {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 8px;
  color: var(--text-primary);
}

.address-detail {
  font-size: 1rem;
  color: var(--text-primary);
}

.address-person-mobile-no {
  margin: 10px 0px;
  font-size: 1rem;
  color: var(--text-primary);
}

.address-btn-container {
  width: 100%;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.address-edit-remove-button {
  background-color: var(--secondary-color);
  padding: 10px;
  font-size: 1rem;
}

.address-edit-remove-button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

/* media query */
@media only screen and (max-width: 1400px) {
  .address-available-container {
    width: 100%;
  }

  .address-details-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .address-details-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .address-available-container {
    padding: 12px;
  }

  .address-user-name {
    font-size: 1.063rem;
  }

  .address-detail {
    font-size: 0.938rem;
  }

  .address-person-mobile-no {
    font-size: 0.938rem;
  }

  .address-edit-remove-button {
    padding: 8px;
  }

  .address-add-h3 {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 500px) {
  .address-add-h3 {
    font-size: 1.063rem;
  }

  .address-add-button {
    width: 115px;
    font-size: 0.938rem;
    padding: 8px;
  }
}
