.address_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address_not_available_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.address_icon {
  font-size: 40px;
}

.address_not_available_content {
  text-align: center;
  margin-top: 10px;
}

.address_not_available_content > h3 {
  font-weight: 400;
}

.address_not_available_btn {
  width: 160px;
  height: 30px;
  font-size: 16px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0px;
}

.address_available_container {
  padding: 20px;
}

.address_add_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.address_add_container > h3 {
  font-size: 20px;
  font-weight: 500;
}

.address_add_button {
  width: 160px;
  height: 30px;
  font-size: 16px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;
}

.address_add_button:hover {
  background-color: #ff0000;
  color: white;
}

.address_details_container {
  display: grid;
  grid-template-columns: 600px 600px;
  gap: 12px;
}

.address_details {
  border: 1px solid #d4d4d9;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.address_user_name {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.address-person-mobile-no {
  margin: 10px 0px;
}

.address-edit-remove-button {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.address-edit-remove-button > button {
  height: 35px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;
}

.address-edit-remove-button > button:hover {
  background-color: rgb(213, 212, 212);
}

/* media query */
@media only screen and (max-width: 1400px) {
  .address_available_container {
    width: 100%;
  }

  .address_details_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .address_details_container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .address_available_container {
    padding: 12px;
  }

  .address_user_name {
    font-size: 17px;
  }

  .address_detail {
    font-size: 15px;
  }

  .address-person-mobile-no {
    font-size: 15px;
  }

  .address-edit-remove-button > button {
    height: 30px;
  }

  .address_add_container > h3 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 360px) {
  .address_add_container > h3 {
    font-size: 17px;
  }

  .address_add_button {
    width: 115px;
    font-size: 15px;
  }
}
