.address-form {
  /* border: 1px solid black; */
  width: 430px;
  height: 95%;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

.address-form::-webkit-scrollbar {
  width: 8px;
}

.address-form::-webkit-scrollbar-track {
  /* background: #fff; */
  background-clip: content-box;
}

.address-form::-webkit-scrollbar-thumb {
  /* background: #fff; */
  border-radius: 10px;
  min-height: 60px;
}

.address-form::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.address-form-show-locality-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #d4d4d9;
  padding: 10px;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 11;
}

.address-form-show-locality-box::-webkit-scrollbar {
  width: 10px;
}

.address-form-show-locality-box::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

.address-form-show-locality-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.address-form-show-locality {
  margin: 2px 0px;
  cursor: pointer;
}

.address-form-buttons {
  display: flex;
  margin-top: 10px;
}

.address-form-buttton {
  width: 150px;
  height: 30px;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}

#disable-add-address-button {
  color: #c1c1c1;
}

@media only screen and (max-width: 500px) {
  .address-form {
    width: 95%;
    padding: 16px;
  }
}
