.computer-banner-container {
  height: 100%;
}

.mobile-banner-main-position-box {
  display: none;
}

@media only screen and (max-width: 768px) {
  .computer-banner-container {
    display: none;
  }

  .mobile-banner-main-position-box {
    display: block;
  }
}
