.profile-container {
  background-color: var(--background-primary);
  /* padding-bottom: 10px; */
}

.profile-top {
  padding-top: 15px;
  display: flex;
}

.profile-heading {
  flex: 1;
  text-align: center;
  font-weight: 400;
  color: var(--text-primary);
}

.profile-user-container {
  padding: 20px 30px;
  display: flex;
  align-items: flex-end;
  /* text-transform: capitalize; */
  width: 100%;
}

.profile-user-image-container {
  width: 140px;
  min-width: 140px;
  height: 140px;
  position: relative;
}

.profile-user-edit-icon {
  position: absolute;
  right: 59px;
  bottom: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.profile-user-detail-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-left: 15px;
  width: 600px;
}

.profile-user-name {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--text-primary);
}

.profile-user-details {
  color: var(--text-primary);
  font-size: 1.125rem;
}

.profile-user-button {
  width: 110px;
  margin-top: 6px;
  background-color: var(--secondary-color);
  font-size: 1rem;
}

.profile-user-button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.profile-tab-container {
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
}

.profile-tab-container > li {
  display: contents;
}

.profile-tab {
  padding: 8px 20px;
  cursor: pointer;
  color: var(--text-primary);
}

.profile-tab:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

.active-tab {
  background-color: var(--primary-color);
  color: #ffffff;
}

.ellipsis {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* media query */
@media only screen and (max-width: 900px) {
  .profile-user-detail-container {
    width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  .profile-tab-container > li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px) {
  .profile-tab-container {
    justify-content: left;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .profile-tab-container::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .profile-user-container {
    padding: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-user-image-container {
    width: 120px;
    min-width: 120px;
    height: 120px;
  }

  .profile-user-edit-icon {
    right: 48px;
  }

  .profile-user-detail-container {
    margin-left: 5px;
    margin-top: 10px;
    gap: 3px;
    width: 97%;
  }

  .profile-user-name {
    font-size: 1.25rem;
  }

  .profile-user-details {
    font-size: 1rem;
  }
}
