.placeOrder_container {
  width: 100%;
  min-height: calc(100vh - 730px);
  /* height: 200px; */
  position: relative;
}

.placeorder-no-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.placeorder-icon {
  font-size: 40px;
}

.placeorder-no-order-content {
  text-align: center;
  margin-top: 10px;
}

.placeorder-no-order-content > h3 {
  font-weight: 400;
}

.placeorder-no-order-content > h4 {
  font-weight: 400;
  font-size: 15px;
}

.placeOrder_card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.placeOrder_card {
  width: 900px;
  box-shadow: 0px 5px 15px -8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid #e8e8e1;
  background-color: #fff;
  padding: 20px;
}

.placeOrder_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.placeOrder_Id {
  font-size: 20px;
  font-weight: 500;
}

.placeOrder_delivered {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #eeeeeb;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.placeOrder_tack {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #449ef2;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.placeOrder_date > p {
  font-size: 16px;
  margin: 10px 0px;
  color: #888889;
}

.placeOrder_hide_in_largedevice {
  display: none;
}

.placeOrder_item_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  border-top: 2px solid #eeeeeb;
  border-bottom: 2px solid #eeeeeb;
  margin: 20px 0px;
  padding: 20px 0px;
}

.placeOrder_item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  /* width: 50%;
  max-width: 50%; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.placeOrder_item > img {
  border-radius: 12px;
  width: 120px;
  object-fit: contain;
  cursor: pointer;
}

.placeOrder_product_name {
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

.placeOrder_size_qty {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0px;
}

.placeOrder_size_qty > span {
  font-size: 15px;
  font-weight: 400;
}

.placeOrder_delivery_details {
  display: flex;
  align-items: self-start;
  gap: 50px;
}

.placeOrder_payment,
.placeOrder_delivery {
  width: 50%;
}

.placeOrder_payment > h4,
.placeOrder_delivery > h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  /* text-decoration: underline; */
}

.placeOrder_item_price_container > p {
  margin-bottom: 12px;
  text-transform: uppercase;
}

.placeOrder_item_price {
  margin: 10px 0px;
  padding: 10px 0px;
  border-top: 1px solid #e8e8e1;
  /* border-bottom: 1px solid #e8e8e1; */
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.placeOrder_item_price > div {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  color: #5f5f52;
}

.placeOrder_total_price {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  background-color: #f4f5f6;
  border-radius: 6px;
  padding: 6px 8px;
}

.placeOrder_total_price > span {
  font-size: 17px;
}

.placeOrder_delivery_date {
  font-size: 16px;
  margin-bottom: 10px;
  /* color: #888889; */
}

.placeOrder_delivery_address > span {
  font-size: 16px;
  /* color: #888889; */
}

.placeOrder_delivery_address > p {
  margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
  .placeOrder_card_container {
    gap: 12px;
  }

  .placeOrder_card {
    width: 100%;
    padding: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .placeOrder_item_container {
    grid-template-columns: 1fr;
  }

  .placeOrder_hide_in_smalldevice {
    display: none;
  }

  .placeOrder_hide_in_largedevice {
    display: block;
  }

  .placeOrder_delivered {
    width: 92px;
  }

  .placeOrder_tack {
    width: 127px;
  }

  .placeOrder_item {
    width: 100%;
    max-width: 100%;
  }

  .placeOrder_delivery_details {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 5px;
  }

  .placeOrder_payment,
  .placeOrder_delivery {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .placeOrder_card_container {
    padding: 12px;
  }
}
