.desktop-category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 10px 20px;
}

.category-options {
    /* border: 1px solid rgb(212, 212, 212); */
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    width: 180px;
    margin-bottom: 10px;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.3s linear;
    overflow: hidden;
    background-color: #fff;
}

.category-options::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E4E4E4;
    height: 100%;
    transform: translateX(-102%);
    transition: all 0.3s linear;
}

.category-options:hover::before {
    transform: translateX(0%);
    z-index: -1;
}

.mobile-category-container {
    display: none;
}

@media screen and (max-width:768px) {
    .desktop-category-container {
        display: none;
    }

    .category-options {
        width: 100%;
    }

    .mobile-category-container {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Libre Baskerville', serif;
        position: relative;
        padding: 0px 10px;
        box-sizing: border-box;
        padding-top: 10px;
    }

    .men-category-button-box {
        display: flex;
        height: 50px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        border-radius: 4px;
    }

    .men-category-button {
        flex: 1;
        border: none;
        outline: none;
        font-size: 18px;
        background-color: #fff;
        font-family: 'Libre Baskerville', serif;
        border-radius: 4px;

    }

    .men-category-drop-down {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 4px;
    }

    .men-category-mobile-option-box {
        width: 100%;
        padding: 10px;
        position: absolute;
        z-index: 1;
        top: 0%;
        left: -100%;
        /* border: 1px solid rgb(212, 212, 212); */
        border-top: none;
        box-sizing: border-box;
        background-color: white;
        transition: all 0.4s;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .category-show {
        left: 0%;
    }

    .men-category-drop-up {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}