.footer-main-box {
  background-color: var(--secondary-color);
  color: var(--text-primary);
  font-size: 0.875rem;
}

[data-theme='dark'] .footer-main-box {
  border-top: 1px solid var(--text-secondary);
  background-color: var(--background-primary);
}

.footer-first-box {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.footer-links-box {
  padding: 10px;
}

.footer-h2 {
  font-size: 1.063rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.footer-links-box > ul > li {
  margin-bottom: 8px;
  list-style: none;
  color: var(--text-primary);
}

.footer-links-box > ul > li > a {
  color: var(--text-primary);
}

.footer-links-box > ul > li > a:hover {
  text-decoration: underline;
}

.footer-contact-box {
  padding: 10px;
}

.footer-contact-box > ul {
  display: flex;
  flex-direction: column;
}

.footer-contact-box > ul > li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  line-break: anywhere;
  color: var(--text-primary);
}

.footer-contact-box > ul > li > svg {
  color: var(--text-primary);
  font-size: 1.25rem;
  margin-right: 5px;
}

.footer-signup {
  width: 60%;
  padding: 10px;
}

.footer-signup > a > button {
  width: 120px;
  padding: 5px 0px;
  border: none;
  outline: none;
  border: 1px solid var(--border-primary);
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.footer-second-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.footer-second-box-content {
  text-align: center;
  margin: 10px 0px;
}

.footer-copyright-box {
  text-align: center;
  margin-bottom: 10px;
}

.footer-copyright-box > span {
  font-size: 0.938rem;
}

/* -------------------media quieries---------------- */

@media only screen and (max-width: 910px) {
  .footer-signup {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .footer-main-box {
    margin-top: 8px;
  }

  .footer-first-box {
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
  }
}
