.trending-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.trending-toggle-button {
  width: 160px;
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--secondary-color);
}

.trending-toggle-button:hover {
  color: white;
  background-color: var(--primary-color);
}

.trending-toggle-button.active {
  color: white;
  background-color: var(--primary-color);
}

.trending-product-images {
  /* width: 250px;
  height: 333px; */
  object-fit: cover;
  box-shadow: var(--shadow-primary);
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

/* @media screen and (max-width: 500px) {
  .trending-product-images {
    width: 190px;
    height: 230px;
  }
}

@media screen and (max-width: 400px) {
  .trending-product-images {
    width: 180px;
    height: 230px;
  }
}

@media screen and (max-width: 385px) {
  .trending-product-images {
    width: 250px;
    height: 333px;
  }
} */
