.preview-image-container-small {
  display: none;
}

.preview-container {
  display: flex;
  width: 100%;
  position: relative;
  background-color: var(--background-primary);
}

.preview-image-container-large {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 70%;
  height: 100%;
}

.preview-image-large {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-sizing: var(--shadow-primary);
  border-radius: 12px;
}

.preview-right-container {
  padding: 20px;
  width: 35%;
}

.preview-product-name {
  font-weight: 400;
  line-height: 20px;
  font-size: 1.188rem;
  color: var(--text-primary);
}

.preview-product-rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
}

.preview-product-rating {
  font-size: 1.063rem;
  color: var(--text-primary);
}

.preview-product-review {
  font-size: 1.063rem;
  margin-left: 50px;
  color: var(--text-primary);
}

.preview-product-price-container {
  display: flex;
  align-items: flex-end;
  margin: 10px 0px;
}

.preview-product-selling-price {
  font-weight: 400;
  color: var(--text-primary);
  font-size: 1.5rem;
}

.preview-product-actual-price {
  margin-left: 10px;
  font-size: 18px;
  color: var(--text-secondary);
}

.preview-product-saving {
  font-weight: 500;
  margin-left: 10px;
  color: rgb(4, 126, 11);
}

.preview-product-button-container {
  margin: 20px 0px 10px 0px;
}

.preview-product-btn {
  transition: all 0.3s linear;
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 0px;
  background-color: var(--text-primary);
  border: 1px solid black;
  color: var(--background-primary);
  cursor: pointer;
  border-radius: 5px;
}

.preview-product-btn:hover {
  transition: all 0.3s linear;
  background-color: #ffffff;
  color: #000000;
}

.preview-product-shipping-note {
  line-height: 20px;
  font-size: 1rem;
  color: var(--text-primary);
}

.preview-product-description-container {
  margin: 20px 0px;
}

.preview-product-description-heading {
  border: 1px solid#e4e4e4;
  font-weight: 500;
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  padding: 10px 10px;
  border-radius: 5px;
}

.preview-product-description {
  padding: 0px 10px;
  white-space: break-spaces;
  word-break: break-word;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  color: var(--text-primary);
}

.preview-product-description-container > ul > li {
  list-style: none;
  padding: 0px 10px;
}

.review-all-review {
  border: none;
  color: #2874f0;
  background-color: #faf9f8;
  margin-top: 0px;
  padding-right: 20px;
  font-size: 17px;
  text-align: right;
  width: 60%;
  cursor: pointer;
}

@media only screen and (max-width: 910px) {
  .preview-image-container-large {
    width: 60%;
  }
  .preview-right-container {
    width: 40%;
  }
  .review-all-review {
    width: 80%;
  }
}

@media only screen and (max-width: 769px) {
  .preview-container {
    flex-direction: column;
  }

  .preview-right-container {
    padding: 20px;
    width: 100%;
  }

  .preview-image-container-large {
    display: none;
  }

  .preview-image-container-small {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    /* height: 520px; */
  }

  .preview-image-small {
    width: 95%;
    height: 100%;
    object-fit: contain;
    /* border: 1px solid #f8f8f8; */
    box-shadow: var(--shadow-primary);
    margin-bottom: 10px;
    border-radius: 12px;
  }

  .alice-carousel__dots {
    margin: 0px 5px 5px !important;
  }

  .review-all-review {
    width: 100%;
  }
}
