.editprofile-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.editprofile-form-container {
  border: 1px solid var(--border-primary);
  width: 650px;
  max-width: 650px;
  padding: 20px;
  border-radius: 12px;
}

/* [data-theme='dark'] .editprofile-form-container {
  border: none;
  box-shadow: var(--shadow-primary);
} */

.editprofile-h2 {
  font-size: 1.375rem;
  font-weight: 500;
  border-bottom: 1px solid var(--border-primary);
  color: var(--text-primary);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.editprofile-form {
  display: flex;
  flex-direction: column;
}

.editprofile-input {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.editprofile-input > input {
  border: 1px solid var(--border-primary);
  font-size: 1rem;
  padding: 0px 5px;
  margin-top: 5px;
  height: 35px;
  background-color: var(--background-primary);
  color: var(--text-primary);
  border-radius: 5px;
}

.editprofile-input > label {
  font-size: 1.063rem;
  color: var(--text-primary);
}

/* .editprofile-edit-phone-no-button {
  width: 120px;
  height: 25px;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #d4d4d9;
  cursor: pointer;
} */

.editprofile-button {
  background: var(--primary-color);
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.editprofile-button[disabled] {
  color: #919191;
  cursor: not-allowed;
  opacity: 0.7;
}

/* media query */
@media only screen and (max-width: 720px) {
  .editprofile-form-container {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .editprofile-container {
    padding: 12px;
  }

  .editprofile-form-container {
    padding: 12px;
  }

  .editprofile-h2 {
    font-size: 1.25rem;
  }

  .editprofile-input > label {
    font-size: 16px;
  }

  .editprofile-input > input {
    font-size: 15px;
    height: 30px;
  }

  .editprofile-input {
    margin: 8px 0px;
  }

  .editprofile-button {
    padding: 8px;
  }
}
