.return-policy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 30px 20px;
  background-color: var(--background-primary);
}

.return-policy-heading {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 15px;
  color: var(--text-primary);
}

.return-policy-sub-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}

.return-policy-sub-heading {
  font-size: 1.063rem;
  font-weight: 500;
  color: var(--text-primary);
}

.return-policy-description {
  font-size: 0.938rem;
  margin: 8px 0px;
  color: var(--text-primary);
}

@media only screen and (max-width: 769px) {
  .return-policy-sub-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
  }

  .return-policy-description {
    margin: 3px 0px;
  }
}

@media only screen and (max-width: 500px) {
  .return-policy-sub-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 355px) {
  .return-policy-heading {
    font-size: 1.313rem;
  }

  .return-policy-sub-heading {
    font-size: 1rem;
  }
}
