:root {
  --background-primary: #ffffff;
  --background-secondary: #f0f2f4;
  --text-primary: #000000;
  --text-secondary: #646363;
  --border-primary: #e4e4e4;
  --shadow-primary: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* accent(buttons and highlights) */
  --primary-color: #c01111;
  --secondary-color: #e5e5e5;
  --tertiary-color: #319bfe;
}

[data-theme='dark'] {
  --background-primary: #000000;
  --background-secondary: #000000;
  --text-primary: #ffffff;
  --shadow-primary: 0px 0px 8px 2px rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.close_modal {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  cursor: pointer;
}

.page-not-found-btn {
  width: 180px;
  height: 40px;
  font-size: 1rem;
  background-color: var(--tertiary-color);
  color: #ffffff;
}

.placeOrderProcess_container {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeOrderProcess_sub_container {
  width: 900px;
}

@media screen and (max-width: 1000px) {
  .placeOrderProcess_sub_container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .placeOrderProcess_container {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 600px) {
  .placeOrderProcess_container {
    padding: 30px 12px;
  }
}
